.foc-progress {
    margin-top: 30px;
    width: 100%;
    height: 20px;
    background: #e5e5e5;
    position: relative;
}

.foc-progress__bar {
    height: 100%;
    background: #2271b1;
    transition: width 0.3s ease;
}

.foc-progress__label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
}

.foc-progress__text {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

.wp-core-ui .button.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.wp-core-ui .button.btn-danger:hover {
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}